@use '../../styles/variables' as v;

.app {
  position: relative;
  max-width: 1440px;
  min-height: 730px;
  min-width: 320px;
  overflow: hidden;
  margin: 0 auto;
  border-left: 1px solid var(--border-light-gray);
  border-right: 1px solid var(--border-light-gray);
  background: linear-gradient(to bottom, var(--border-light-gray), var(--border-light-gray)) center / 1px 100% no-repeat;
  height: 100%;
}

.app__title {
  margin: 0 0 0 0;
  padding: 0 0 0 80px;
  font-size: 56px;
  line-height: 1.2;
  position: absolute;
  left: 0;
  bottom: -100px;
  font-weight: 700;
  max-width: 353px;
  width: 100%;
}

.app__title::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(to bottom, var(--blue), var(--fuschia-100));
}

.layout {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1.8fr 0.9fr;
  gap: 0;
}

.header {
  position: relative;
}

.dates {
  position: relative;
  background: linear-gradient(to right, var(--border-light-gray), var(--border-light-gray)) center / 100% 1px no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.events {
  padding-top: 40px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}


@media screen and (max-width: v.$breakpoint-xl) {
  .app__title {
    font-size: 42px;
    bottom: -80px;
  }
  .layout {
    grid-template-rows: 0.3fr 1.8fr 1.1fr;
  }
}

@media screen and (max-width: v.$breakpoint-lg) {
  .app__title {
    font-size: 34px;
    max-width: 280px;
    bottom: -60px;
    padding: 0 0 0 40px;
  }
  .layout {
    grid-template-rows: 0.3fr 1.8fr 1.3fr;
  }
}

@media screen and (max-width: v.$breakpoint-md) {
  .app__title {
    font-size: 28px;
    max-width: 160px;
    padding: 0 0 0 20px;
    bottom: -40px;
  }
  .layout {
    grid-template-rows: 0.3fr 1.8fr 1.5fr;
  }
}

@media screen and (max-width: v.$breakpoint-sm) {
  .app {
    min-height: 568px;
    background: none;
    border: none;
  }
  .app__title {
    max-width: 160px;
    margin: 40px 0 40px 0;
    bottom: -20px;

    &::before {
      background: none;
    }
  }
  .layout {
    grid-template-rows: 0.6fr 1.0fr 1.7fr;
  }
  .dates {
    position: static;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .events {
    padding-top: 0;
  }
}

@media screen and (max-width: v.$breakpoint-xs) {
  .app__title {
    font-size: 20px;
    line-height: 24px;
  }
  .layout {
    grid-template-rows: 0.6fr 0.5fr 2fr;
  }
  .events {
    padding-top: 40px;
  }
}
