@use '../../styles/variables' as v;

.years {
  font-size: 200px;
  font-weight: 700;
  line-height: 160px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: flex;
  justify-content: center;
  gap: 108px;
  margin: 0 auto;
  max-width: 973px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.years__start {
  color: var(--iris-100);
  letter-spacing: -0.02em;
}

.years__end {
  color: var(--fuschia-100);
  letter-spacing: -0.02em;
}

.controls {
  position: absolute;
  left: 80px;
  bottom: 0;
}

.numberSlides {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.12px;
  text-align: left;
}

.buttons {
  margin: 20px 0 0 0;
  display: flex;
  gap: 20px;
}

.bullets {
  display: none;
  max-width: 86px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.bullet {
  background: var(--border-gray);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  outline: none;
  border: none;
  display: block;
  padding: 0;

  &_active {
    background: var(--black-blue);
  }
}

@media screen and (max-width: v.$breakpoint-xl) {
  .years {
    font-size: 150px;
    line-height: 120px;
  }
  .circle {
    width: 430px;
    height: 430px;
  }
  .controls {
    bottom: 30px;
  }
}

@media screen and (max-width: v.$breakpoint-lg) {
  .years {
    font-size: 120px;
    line-height: 90px;
  }
  .circle {
    width: 370px;
    height: 370px;
  }
  .controls {
    bottom: 25px;
    left: 40px;
  }
}

@media screen and (max-width: v.$breakpoint-md) {
  .years {
    font-size: 90px;
    line-height: 60px;
  }
  .circle {
    width: 300px;
    height: 300px;
  }
  .controls {
    bottom: 40px;
    left: 20px;
  }
}

@media screen and (max-width: v.$breakpoint-sm) {
  .years {
    position: static;
    transform: none;
    gap: 40px;
  }
  .controls {
    bottom: 13px;
    left: 20px;
  }
  .buttons {
    margin: 10px 0 0 0;
    gap: 8px;
  }
  .bullets {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 37px;
  }
}


@media screen and (max-width: v.$breakpoint-xs) {
  .years {
    font-size: 56px;
    line-height: 72px;
  }
}
