@use '../../styles/variables' as v;

.circle {
  width: 530px;
  height: 530px;
  border-radius: 50%;
  border: 1px solid var(--border-circle-gray);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.pointsContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: v.$breakpoint-xl) {
  .circle {
    width: 430px;
    height: 430px;
  }
}

@media screen and (max-width: v.$breakpoint-lg) {
  .circle {
    width: 370px;
    height: 370px;
  }
}

@media screen and (max-width: v.$breakpoint-md) {
  .circle {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: v.$breakpoint-sm) {
  .circle {
    display: none;
  }
}

@media screen and (max-width: v.$breakpoint-xs) {
  .circle {
    //width: 230px;
    //height: 230px;
  }
}
